.intro.modul-br {
   background: url("../svg/modul-bg.svg"), #1c306f;
   background-repeat: no-repeat;
   background-position-x: right;
   background-size: contain;
   .img {
      margin: 0px 10px -5px 0px;
   }
}
.benefits.modul-br {
   h3 {
      max-width: 390px;
   }
}
.characteristics {
   p {
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
   }
   h2 {
      margin: 78px 0px 32px 0px;
      font-weight: 500;
      font-size: 35px;
      line-height: 45px;
   }
   .info {
      max-width: 450px;
   }
   .wrapp {
      display: flex;
      justify-content: space-between;
   }
   padding: 152px 0px;
   background: #deefff;
}
