.intro.modul-br {
  background: url("../svg/modul-bg.svg"), #1c306f;
  background-repeat: no-repeat;
  background-position-x: right;
  background-size: contain;
}

.intro.modul-br .img {
  margin: 0px 10px -5px 0px;
}

.benefits.modul-br h3 {
  max-width: 390px;
}

.characteristics {
  padding: 152px 0px 84px 0px;
  background: #deefff;
}

.characteristics h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  position: relative;
  margin: 0px 0px 25px 24px;
}

.characteristics h3::before {
  content: "";
  width: 14px;
  height: 14px;
  background: #fc6733;
  position: absolute;
  left: -22px;
  top: 4px;
  -webkit-clip-path: polygon(48% 0, 100% 50%, 50% 100%, 0% 100%, 45% 51%, 0% 0%);
          clip-path: polygon(48% 0, 100% 50%, 50% 100%, 0% 100%, 45% 51%, 0% 0%);
}

.characteristics .list {
  max-width: 570px;
  padding: 50px 0px 0px 0px;
}

.characteristics .list p {
  margin: 0px 0px 59px 0px;
}

.characteristics p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.characteristics h2 {
  margin: 78px 0px 32px 0px;
  font-weight: 500;
  font-size: 35px;
  line-height: 45px;
}

.characteristics .info {
  max-width: 450px;
}

.characteristics .wrapp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.characteristics .wrapp:nth-child(1) {
  margin-bottom: 243px;
}

.demo-modul {
  padding: 70px 0px 63px 0px;
  background: #1c306f;
}

.demo-modul p {
  max-width: 990px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: 50px;
}

.demo-modul p span {
  font-weight: 500;
}

.demo-modul h2 {
  margin: 0px 0px 25px 0px;
  font-weight: 500;
  font-size: 35px;
  line-height: 45px;
  color: #ffffff;
}

.demo-modul .img {
  position: absolute;
  right: 175px;
  top: -10px;
}

.demo-modul .container {
  position: relative;
}
