.intro.modul-br {
  background: url("../svg/modul-bg.svg"), #1c306f;
  background-repeat: no-repeat;
  background-position-x: right;
  background-size: contain;
}

.intro.modul-br .img {
  margin: 0px 10px -5px 0px;
}
