.intro.modul-br {
   background: url("../svg/modul-bg.svg"), #1c306f;
   background-repeat: no-repeat;
   background-position-x: right;
   background-size: contain;
   .img {
      margin: 0px 10px -5px 0px;
   }
}
.benefits.modul-br {
   h3 {
      max-width: 390px;
   }
}
.characteristics {
   h3 {
      font-weight: 500;
      font-size: 20px;
      line-height: 24px;
      position: relative;
      margin: 0px 0px 25px 24px;
      &::before {
         content: "";
         width: 14px;
         height: 14px;
         background: #fc6733;
         position: absolute;
         left: -22px;
         top: 4px;
         clip-path: polygon(48% 0, 100% 50%, 50% 100%, 0% 100%, 45% 51%, 0% 0%);
      }
   }
   .list {
      max-width: 570px;
      padding: 50px 0px 0px 0px;
      p {
         margin: 0px 0px 59px 0px;
      }
   }
   p {
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
   }
   h2 {
      margin: 78px 0px 32px 0px;
      font-weight: 500;
      font-size: 35px;
      line-height: 45px;
   }
   .info {
      max-width: 450px;
   }
   .wrapp {
      display: flex;
      justify-content: space-between;
      &:nth-child(1) {
         margin-bottom: 243px;
      }
   }
   padding: 152px 0px;
   background: #deefff;
}
