.intro.modul-br {
   background: url("../svg/modul-bg.svg"), #1c306f;
   background-repeat: no-repeat;
   background-position-x: right;
   background-size: contain;
   .img {
      margin: 0px 10px -5px 0px;
   }
}
.benefits.modul-br {
   .row {
      margin: 0px 0px 45px 0px;
   }
   h3 {
      max-width: 390px;
      margin: 0px 0px 0px 54px;
      &::before {
         left: -54px;
      }
   }
   padding: 87px 0px 26px 0px;
}
.characteristics-modul {
   h3 {
      font-weight: 500;
      font-size: 20px;
      line-height: 24px;
      position: relative;
      margin: 0px 0px 25px 24px;
      &::before {
         content: "";
         width: 14px;
         height: 14px;
         background: #2655ff;
         position: absolute;
         left: -22px;
         top: 4px;
         clip-path: polygon(48% 0, 100% 50%, 50% 100%, 0% 100%, 45% 51%, 0% 0%);
      }
   }
   .list {
      max-width: 570px;
      padding: 50px 0px 0px 0px;
      p {
         margin: 0px 0px 59px 0px;
         span {
            font-weight: 500;
         }
      }
   }
   p {
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
   }
   h2 {
      margin: 78px 0px 32px 0px;
      font-weight: 500;
      font-size: 35px;
      line-height: 45px;
   }
   .info {
      max-width: 450px;
   }
   .wrapp {
      display: flex;
      justify-content: space-between;
      &:nth-child(1) {
         margin-bottom: 243px;
      }
   }
   padding: 152px 0px 84px 0px;
   background: #deefff;
}
.demo-modul {
   p {
      max-width: 990px;
      font-weight: 300;
      font-size: 16px;
      line-height: 24px;
      color: rgba(255, 255, 255, 0.8);
      margin-bottom: 50px;
      span {
         font-weight: 500;
         color: #fff;
      }
   }
   h2 {
      margin: 0px 0px 25px 0px;
      font-weight: 500;
      font-size: 35px;
      line-height: 45px;
      color: #ffffff;
   }
   .img {
      position: absolute;
      right: 175px;
      top: -10px;
   }
   .container {
      position: relative;
   }
   padding: 70px 0px 63px 0px;
   background: #1c306f;
}
.sales-modul {
   .butt {
      display: flex;
      max-width: 261px;
      margin: 66px auto 0px auto;
      padding: 12px 25px;
      font-weight: 400;
      font-size: 16px;
      line-height: 26px;
      color: #ffffff;
      background: #fc6733;
      border-radius: 100px;
   }
   .item {
      p {
         font-weight: 400;
         font-size: 14px;
         line-height: 22px;
      }
      h4 {
         font-weight: 500;
         font-size: 20px;
         line-height: 24px;
         margin: 0px 0px 16px 24px;
         position: relative;
         &::before {
            content: "";
            width: 14px;
            height: 14px;
            background: #fc6733;
            position: absolute;
            left: -24px;
            top: 2px;
            clip-path: polygon(48% 0, 100% 50%, 50% 100%, 0% 100%, 45% 51%, 0% 0%);
         }
      }
      margin: 0px 0px 38px 0px;
   }
   .info {
      background: #ffffff;
      padding: 55px 40px 40px 40px;
      p {
         margin: 0px 0px 0px 26px;
         //max-width: 460px;
      }
   }

   .title {
      span {
         font-weight: 500;
         font-size: 64px;
         line-height: 100px;
         margin: 0px 21px 0px 0px;
         position: relative;
         &::after {
            content: "%";
            font-weight: 500;
            font-size: 30px;
            line-height: 35px;
            margin-left: 7px;
         }
      }
      p {
         font-weight: 400;
         font-size: 16px;
         line-height: 24px;
      }
      h3 {
         margin: 0px 0px 25px 0px;
         font-weight: 500;
         font-size: 30px;
         line-height: 35px;
      }
      margin: 0px 0px 26px 0px;
      padding: 40px 40px 16px 40px;
      background: #ffffff;
   }
   .wrapp {
      display: flex;
      //justify-content: center;
      gap: 24px;
   }
   .column {
      max-width: 588px;
      &.left {
         span {
            color: #fc6733;
         }
      }
      &.right {
         min-width: 588px;
         h4 {
            &::before {
               background: #bdbdbd;
            }
         }
         span {
            color: #4f4f4f;
         }
         .title,
         .info {
            background: #ebebeb;
            color: #4f4f4f;
         }
         .info {
            p {
               max-width: 445px;
            }
         }
      }
   }
   h2 {
      margin: 0px 0px 69px 0px;
      text-align: center;
      font-weight: 500;
      font-size: 40px;
      line-height: 45px;
   }
   padding: 121px 0px 120px 0px;
}
.marketing-modul {
   .column {
      max-width: 475px;
      &.right {
         p {
            max-width: 400px;
         }
      }
   }
   p {
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      margin-bottom: 39px;
   }
   h3 {
      font-weight: 500;
      font-size: 20px;
      line-height: 24px;
      margin: 0px 0px 27px 24px;
      position: relative;
      &::before {
         content: "";
         width: 14px;
         height: 14px;
         background: #fc6733;
         position: absolute;
         left: -24px;
         top: 2px;
         clip-path: polygon(48% 0, 100% 50%, 50% 100%, 0% 100%, 45% 51%, 0% 0%);
      }
   }
   .wrapp {
      display: flex;
      //justify-content: center;
      gap: 196px;
   }
   h2 {
      margin: 0px 0px 72px 0px;
      font-weight: 500;
      font-size: 35px;
      line-height: 45px;
   }
   padding: 90px 0px 111px 0px;
   background: #ffffff;
}
.safety-modul {
   .info {
      max-width: 780px;
   }
   p {
      font-weight: 300;
      font-size: 16px;
      line-height: 24px;
      opacity: 0.8;
   }
   h2 {
      font-weight: 500;
      font-size: 35px;
      line-height: 45px;
      margin: 0px 0px 16px 0px;
   }
   .wrapp {
      display: flex;
      align-items: center;
      gap: 85px;
   }
   padding: 31px 0px;
   color: #fff;
   background: #1c306f;
}
.where-modul {
   p {
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      color: #4f4f4f;
   }
   h3 {
      color: #222;
      margin: 0px 0px 16px 0px;
      font-weight: 500;
      font-size: 20px;
      line-height: 24px;
   }
   .icon {
      margin: 0px 45px 0px 0px;
      text-align: center;
      width: 85px;
      height: 88px;
      display: flex;
      align-items: center;
   }
   .info {
      max-width: 410px;
   }
   .item {
      margin: 0px 0px 34px 0px;
      padding: 20px 48px 20px 40px;
      background: #ffffff;
      display: flex;
   }
   h2 {
      margin: -44px 0px 0px 0px;
      padding: 0px 45px 0px 0px;
      font-weight: 500;
      font-size: 45px;
      line-height: 60px;
      max-width: 444px;
      background: url("../svg/wh-bg.svg") no-repeat;
      background-position-x: right;
      background-size: contain;
   }
   .wrapp {
      display: flex;
      align-items: center;

      gap: 126px;
   }
   padding: 120px 0px 86px 0px;
}
.banner-section--bo {
   &.modul-br {
      padding: 120px 0 120px;

      .banner-section__title {
         margin-bottom: 50px;
      }
   }
}
.characteristics-modul .list-mob {
   display: none;
}
@media (max-width: 992px) {
   .demo-modul .img {
      display: none;
   }
   .demo-modul {
      margin-top: -6px;
   }
   .characteristics-modul .list p {
      margin: 0px 0px 30px 0px;
   }
   .characteristics-modul .list {
      padding: 15px 0px 0px 0px;
   }
   .characteristics-modul h3 {
      margin: 0px 0px 10px 22px;
      font-weight: 500;
      font-size: 14px;
      line-height: 20px;
   }
   .characteristics-modul .wrapp:nth-child(1) {
      margin-bottom: 20px;
   }
   .characteristics-modul {
      padding: 152px 0px 0px 0px;
      .list-mob {
         display: block;
         margin: 0px auto;
      }
      .forma {
         display: none;
      }
      .img {
         max-width: 255px;
         margin: 39px auto 0px auto;
      }
   }
   .characteristics-modul p {
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      br {
         display: none;
      }
   }
   .characteristics-modul h2 {
      margin: -93px 0px 25px 0px;
      font-weight: 500;
      font-size: 26px;
      line-height: 32px;
   }
   .intro.modul-br {
      background: #1c306f;
   }
   .where-modul h2 {
      padding: 0px 0px 0px 0px;
   }
   .where-modul .icon {
      display: none;
   }
   .sales-modul .column.right {
      min-width: 100%;
   }
   .sales-modul .wrapp,
   .safety-modul .wrapp,
   .where-modul .wrapp,
   .characteristics-modul .wrapp,
   .marketing-modul .wrapp {
      flex-direction: column;
   }
}
