.intro.modul-br {
  background: url("../svg/modul-bg.svg"), #1c306f;
  background-repeat: no-repeat;
  background-position-x: right;
  background-size: contain;
}

.intro.modul-br .img {
  margin: 0px 10px -5px 0px;
}

.benefits.modul-br {
  padding: 87px 0px 26px 0px;
}

.benefits.modul-br .row {
  margin: 0px 0px 45px 0px;
}

.benefits.modul-br h3 {
  max-width: 390px;
  margin: 0px 0px 0px 54px;
}

.benefits.modul-br h3::before {
  left: -54px;
}

.characteristics-modul {
  padding: 152px 0px 84px 0px;
  background: #deefff;
}

.characteristics-modul h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  position: relative;
  margin: 0px 0px 25px 24px;
}

.characteristics-modul h3::before {
  content: "";
  width: 14px;
  height: 14px;
  background: #2655ff;
  position: absolute;
  left: -22px;
  top: 4px;
  -webkit-clip-path: polygon(48% 0, 100% 50%, 50% 100%, 0% 100%, 45% 51%, 0% 0%);
          clip-path: polygon(48% 0, 100% 50%, 50% 100%, 0% 100%, 45% 51%, 0% 0%);
}

.characteristics-modul .list {
  max-width: 570px;
  padding: 50px 0px 0px 0px;
}

.characteristics-modul .list p {
  margin: 0px 0px 59px 0px;
}

.characteristics-modul p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.characteristics-modul h2 {
  margin: 78px 0px 32px 0px;
  font-weight: 500;
  font-size: 35px;
  line-height: 45px;
}

.characteristics-modul .info {
  max-width: 450px;
}

.characteristics-modul .wrapp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.characteristics-modul .wrapp:nth-child(1) {
  margin-bottom: 243px;
}

.demo-modul {
  padding: 70px 0px 63px 0px;
  background: #1c306f;
}

.demo-modul p {
  max-width: 990px;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: 50px;
}

.demo-modul p span {
  font-weight: 500;
  color: #fff;
}

.demo-modul h2 {
  margin: 0px 0px 25px 0px;
  font-weight: 500;
  font-size: 35px;
  line-height: 45px;
  color: #ffffff;
}

.demo-modul .img {
  position: absolute;
  right: 175px;
  top: -10px;
}

.demo-modul .container {
  position: relative;
}

.sales-modul {
  padding: 121px 0px 120px 0px;
}

.sales-modul .butt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 261px;
  margin: 66px auto 0px auto;
  padding: 12px 25px;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #ffffff;
  background: #fc6733;
  border-radius: 100px;
}

.sales-modul .item {
  margin: 0px 0px 38px 0px;
}

.sales-modul .item p {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
}

.sales-modul .item h4 {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  margin: 0px 0px 16px 24px;
  position: relative;
}

.sales-modul .item h4::before {
  content: "";
  width: 14px;
  height: 14px;
  background: #fc6733;
  position: absolute;
  left: -24px;
  top: 2px;
  -webkit-clip-path: polygon(48% 0, 100% 50%, 50% 100%, 0% 100%, 45% 51%, 0% 0%);
          clip-path: polygon(48% 0, 100% 50%, 50% 100%, 0% 100%, 45% 51%, 0% 0%);
}

.sales-modul .info {
  background: #ffffff;
  padding: 55px 40px 40px 40px;
}

.sales-modul .info p {
  margin: 0px 0px 0px 26px;
}

.sales-modul .title {
  margin: 0px 0px 26px 0px;
  padding: 40px 40px 16px 40px;
  background: #ffffff;
}

.sales-modul .title span {
  font-weight: 500;
  font-size: 64px;
  line-height: 100px;
  margin: 0px 21px 0px 0px;
  position: relative;
}

.sales-modul .title span::after {
  content: "%";
  font-weight: 500;
  font-size: 30px;
  line-height: 35px;
  margin-left: 7px;
}

.sales-modul .title p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.sales-modul .title h3 {
  margin: 0px 0px 25px 0px;
  font-weight: 500;
  font-size: 30px;
  line-height: 35px;
}

.sales-modul .wrapp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 24px;
}

.sales-modul .column {
  max-width: 588px;
}

.sales-modul .column.left span {
  color: #fc6733;
}

.sales-modul .column.right {
  min-width: 588px;
}

.sales-modul .column.right h4::before {
  background: #bdbdbd;
}

.sales-modul .column.right span {
  color: #4f4f4f;
}

.sales-modul .column.right .title,
.sales-modul .column.right .info {
  background: #ebebeb;
  color: #4f4f4f;
}

.sales-modul .column.right .info p {
  max-width: 445px;
}

.sales-modul h2 {
  margin: 0px 0px 69px 0px;
  text-align: center;
  font-weight: 500;
  font-size: 40px;
  line-height: 45px;
}

.marketing-modul {
  padding: 90px 0px 111px 0px;
  background: #ffffff;
}

.marketing-modul .column {
  max-width: 475px;
}

.marketing-modul .column.right p {
  max-width: 400px;
}

.marketing-modul p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 39px;
}

.marketing-modul h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  margin: 0px 0px 27px 24px;
  position: relative;
}

.marketing-modul h3::before {
  content: "";
  width: 14px;
  height: 14px;
  background: #fc6733;
  position: absolute;
  left: -24px;
  top: 2px;
  -webkit-clip-path: polygon(48% 0, 100% 50%, 50% 100%, 0% 100%, 45% 51%, 0% 0%);
          clip-path: polygon(48% 0, 100% 50%, 50% 100%, 0% 100%, 45% 51%, 0% 0%);
}

.marketing-modul .wrapp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 196px;
}

.marketing-modul h2 {
  margin: 0px 0px 72px 0px;
  font-weight: 500;
  font-size: 35px;
  line-height: 45px;
}

.safety-modul {
  padding: 31px 0px;
  color: #fff;
  background: #1c306f;
}

.safety-modul .info {
  max-width: 780px;
}

.safety-modul p {
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  opacity: 0.8;
}

.safety-modul h2 {
  font-weight: 500;
  font-size: 35px;
  line-height: 45px;
  margin: 0px 0px 16px 0px;
}

.safety-modul .wrapp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 85px;
}

.where-modul {
  padding: 120px 0px 86px 0px;
}

.where-modul p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #4f4f4f;
}

.where-modul h3 {
  color: #222;
  margin: 0px 0px 16px 0px;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

.where-modul .icon {
  margin: 0px 45px 0px 0px;
  text-align: center;
  width: 85px;
  height: 88px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.where-modul .info {
  max-width: 410px;
}

.where-modul .item {
  margin: 0px 0px 34px 0px;
  padding: 20px 48px 20px 40px;
  background: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.where-modul h2 {
  margin: -44px 0px 0px 0px;
  padding: 0px 45px 0px 0px;
  font-weight: 500;
  font-size: 45px;
  line-height: 60px;
  max-width: 444px;
  background: url("../svg/wh-bg.svg") no-repeat;
  background-position-x: right;
  background-size: contain;
}

.where-modul .wrapp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 126px;
}

.banner-section--bo.modul-br {
  padding: 120px 0 120px;
}

.banner-section--bo.modul-br .banner-section__title {
  margin-bottom: 50px;
}
